*{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.form{
  margin-left: 20px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
}

.output {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  text-transform: initial;
}

/* option{
  color: #60606E;
} */

.light-theme .output{
  color: #60606E;
}

.light-theme{
 background-color: #fff;
}

.light-theme option{
  color: #60606E;
}



.dark-theme .output{
  color: #fff;
}

.dark-theme{
 background-color: #60606E;
}

.dark-theme option{
  color: #fff;
}